{% extends 'shop/basic.html' %}
{% block title%}Tracker - WebShopee{% endblock %}
{% block body %}
<div class="container">
    <div class="col my-4">
        <h3 id="enterid">Enter your order id to track your order</h3>
        <form method="post" action="/shop/tracker" id="trackerForm">{% csrf_token %}
            <div class="form-row">
                <div class="form-group col-md-6">
                    <label for="inputname">Order Id</label>
                    <input type="text" class="form-control" id="orderId" name="orderId" placeholder="Order Id" required>
                </div>
            </div>
                <input type="submit" class="btn btn-primary"></button>
            
            </form>
    </div>
    <div id="alert" style="display: block !important;">
    {%if msg%} <span style="color: red; font-size: large;">{{msg}}</span>  {%endif%}
    {%if login%} <span style="color: red;font-size: large;">{{login}} </span> {%endif%}
</div>
    {%if updates%}
    <div class="col my-4">
        <h2 class="status">Your Order Status</h2>
        
        
        {%for i in updates%}
        <li class="list-group-item d-flex justify-content-between align-items-center">
            {{i.update_desc}}           
            <span class="badge badge-primary badge-pill">{{i.timestamp}}</span>
        </li>`
        
        
        {%endfor%}
        
        <div class="my-4">
            <ul class="list-group" id="items">
                
            </ul>
        </div>
        <h2 class="status">Your Order Details</h2>
        {%endif%}
        {%for i in order%}
        <div class="my-4">
            <ul class="list-group" id="items">
                <li class="list-group-item d-flex justify-content-between align-items-center">
                                         <!-- {{i.items_json|cut:'{"pr14":[1,"'|cut:'",369]}'}} -->
                                         {{i.items_json|slice:"11:160"|cut:"]}"|cut:'"'}}
                                       <span class="badge badge-primary badge-pill">1</span>
                                   </li>`
            </ul>
        </div>
        {%endfor%}
    </div>
</div>
{% endblock %}
{% block js %}
<script>
    setTimeout(function(){
        document.getElementById("alert").style.display="none"},3000
    )
    

</script>

{% endblock %}
